AIS/AIS 2009.csv
AIS/ais_database.db
AIS/nari_dynamic.csv
AIS/nari_static.csv
**/.idea
**/.vscode
*.pyc
main_program/__pycache__/
*.csv
# main_program/__pycache__/boat.cpython-310.pyc
# main_program/__pycache__/draw.cpython-310.pyc
# main_program/__pycache__/sea_object.cpython-310.pyc
main_program/plots/
plots/
